body{
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  position: relative;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  font-family: 'Roboto Condensed', sans-serif;
}

h4{
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

h5{
  font-family: 'Roboto Condensed', sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #0056b3;
	color: white;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

#logo{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  display: block;
}

#logo:hover{
  text-decoration: none;
  background-color: #0056b3;
  color: white;
}

.nav-link.logo {
	line-height: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
	font-size: 1.3rem;
    /* Any other styles you want to apply to the logo only */
}

.nav-link.logo:hover {
    background-color: #0056b3;
    color: white;
}

#navbar{
  background-color: #006bb3;
}

a{
  color: #006bb3;
}

.pag{
  border-color: #006bb3;
  color: #006bb3;
}

.pag:hover{
  border-color: #006bb3;
  background-color: #006bb3;
  color: white;
}

.nav-link{
  color: white;
  line-height: 1.5;
}

.nav-link:hover{
  background-color: #0056b3;
  color: white;
}

.forking-page .nav-link {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 1rem;
}

.forking-page .nav-link:hover {
  background-color: #0056b3;
  color: white;
}

.navbar-brand{
  color: white;
  font-weight: bold;
}

.section{
  padding-top: 100px;
}

#wrapper{
  position: relative;
}

#content img{
  width: 100%;
}

.active-li{
  background-color: #006bb3;
}

#active-link{
  color: white;
}

.seq{
  background-color: #006bb3;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  margin: 2px;
}
